body {
    background-color: rgb(248,248,248);
}

.button {
    text-align: center;
    margin-top: 240px;
}

.buttonHome {
    background-color: rgb(248,248,248);
    border-color: rgb(248,248,248);
     
}

.buttonContact {
    background-color: rgb(248,248,248);
    border-color: rgb(248,248,248);
}

header {
    text-align: center;
    font-size: 45px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: bold;
    color: rgb(34,34,34);
   
}

main {
    display: flex;
}


.leftColumn {
    background-color: rgb(255,255,255);
    height: 700px;
    width: 600px;
    margin-left: 360px;
    margin-top: 100px;
    font-family: "Poppins", Arial, sans-serif;

}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.contact {
    font-size: 30px;
}

.contactUs {
    margin: 20px;
    margin-top: 40px;
}

.contactInfo {
    display: flex;
}

.adress {
    width: 150px;
    margin: 20px;
}

.email {
    width: 150px;
    margin: 20px;
}

.phone {
    width: 150px;
    margin: 20px;
}

article {
    color: rgb(153,153,179);
}



footer {
    text-align: center;
    margin-top: 150px;
}

#name {
    width: 100%;
    padding: 12px 20px;
    margin: 30px 0 0px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 515px;
}

#email {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0 0px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 515px;
}

#subject {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px 0px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 515px;
}

#message {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0 0px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 515px; 
    height: 100px;
}

#sendButton {
    padding:0.46em 1.6em;
    border: rgb(213,196,85);
    width: 160px;
    height: 50px;
    margin-left: 20px;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(213,196,85);
    transition: all 0.15s;
}

.follow {
    margin-left: 20px;
    font-size: 30px;
}

.right-column {
    margin-top: 100px;
}

#photoAustin {
    height: 700px;
    width: auto;
}
