
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
  
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #030000;
    font-size:large;
    color: white;
  }
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e7e1e1;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
  }
  
  .nav-item {
    margin-left: 5rem;
  }
  
  .nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
  }
  
  .nav-link:hover{
    color: #949699;
  }




body {
    background-color: rgb(248,248,248);
    
}

.button {
    text-align: center;
    margin-top: 240px;
}

.buttonHome {
    background-color: rgb(248,248,248);
    border-color: rgb(248,248,248);
     
}

.buttonContact {
    background-color: rgb(248,248,248);
    border-color: rgb(248,248,248);
}

header {
    text-align: center;
    font-size: 45px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: bold;
    color: rgb(34,34,34);
   
}

main {
    display: flex;
    
}


.leftColumn {
    background-color: rgb(255,255,255);
    height: 700px;
    width: 1200px;

    font-family: "Poppins", Arial, sans-serif;

}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.contact {
    font-size: 60px;
}

.contactUs {
    margin-left: 45px;
    margin-top: 40px;
    font-size: 20px;
}

.contactInfo {
    display: flex;
    margin-left: 45px;
    margin-top: 40px;
}

.adress {
    width: 150px;
    margin-bottom: 50px;
    
}

.email {
    width: 150px;
    margin-left: 20px;
}

.phone {
    width: 150px;
    margin-left: 20px;
}

article {
    color: rgb(153,153,179);
    font-size: 15px;
}


.inputData {
    margin-left: 45px;
  
}

#name {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-top: 20px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 4px;
    width: 475px;
}

#email {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 4px;
    width: 475px;
}

#subject {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 4px;
    width: 475px;
}

#message {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 4px;
    width: 500px; 
    height: 100px;
}

#sendButton {
    padding:0.46em 1.6em;
    border: rgb(213,196,85);
    width: 160px;
    height: 50px;
    margin-left: 45px;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(213,196,85);
    transition: all 0.15s;
}




.right-column {
    
}

#photoAustin {
    height: 100%;
    width: 100%;
}

footer {
    background-color:black;
     width: 100%;
     height: 150px;
     position: absolute;
   }
   footer div {
   margin:0;
    overflow: hidden; 
    display: flex;
    display: row;
   justify-content: center;
   }
   
   .social-media i{
     background-color: black;
    display: flex;
    display: row;
    width: auto;
     padding-top: 5%;
     padding-right: 2%;
     color: rgb(241, 235, 235);
   
    
   }
   .fa {
     color: rgb(213,196,85);
   }
   
   .fa-facebook:active color {
     color:darkblue;
   }
   .fa-facebook:hover {
    color: rgb(213,196,85);
   
   }
   .fa-twitter:hover {
     color: rgb(213,196,85);
   }
   
   .fa-youtube:hover {
     color: rgb(213,196,85);
     }
   .fa-instagram:hover {
      color:rgb(213,196,85);
   }
   
   
   .responsive {
     width: 100%;
     height: auto;
   }
   

/* @media screen (max-width:900px){

} */