body {
    background-color: black;
}

header {
    font-size: 60px;
    color: white;
    height: 300px;
    text-align: center;
    margin-top: 150px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
  }
  /* ASK Cesar what's up with galler-item sizing the images */
  .gallery-item {
    width: 100%;
    height: 100%;
  }
  
  .gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: 50% 50%;
  }
  
  .w-1 {
    grid-column: span 1;
  }
  .w-2 {
    grid-column: span 2;
  }
  .w-3 {
    grid-column: span 3;
  }
  .w-4 {
    grid-column: span 4;
  }
  
  .h-1 {
    grid-row: span 1;
  }
  .h-2 {
    grid-row: span 2;
  }
  .h-3 {
    grid-row: span 3;
  }
  .h-4 {
    grid-row: span 4;
  }



  @media (max-width: 900px) {
    .wrapper {
      grid-template-columns: 50% 50%;
    }
    .w-1, .w-2 {
        grid-column: span 1;
    }
   .w-3, .w-4 {
        grid-column: span 2;
    }
    .h-1, .h-2, .h-3, .h-4 {
        grid-row: span 1;
    }
    
  }
  
  @media (max-width: 400px) {
    .wrapper {
      grid-template-columns: 100%;
    }
    .w-1, .w-2, .w-3, .w-4 {
        grid-column: span 1;
    }
    .h-1, .h-2, .h-3, .h-4 {
        grid-row: span 1;
    }
  }
/* #austin {
    width: 500px;
    height: 350px;
    cursor: pointer;
    transition: 1s ease-in-out;
} */

/* 

opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: whitesmoke;
font-size: 18px;
pointer-events: none;
z-index: 4;
transition: 1.5s ease-in-out;
background-color: rgba(0, 0, 0, 0.527);
width: 80%;
height: 80%;
display: flex;
align-items: center;
font-family: 'Ubuntu Condensed', sans-serif; */